extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1= pagina
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae leo pharetra, eleifend sem at, ornare tortor. Curabitur quis eleifend turpis. Curabitur id velit justo.

                p Maecenas massa nunc, blandit maximus eleifend sed, consectetur non quam. Morbi sollicitudin eu arcu at vestibulum. Donec sollicitudin non elit non semper. Maecenas pretium eu ligula sit amet iaculis.

                p Phasellus nec facilisis lorem. Fusce et consectetur dolor. Duis ut felis auctor, fermentum augue accumsan, condimentum purus. Maecenas interdum lorem ut feugiat rutrum. In eget turpis libero. Maecenas mattis metus a massa convallis, fringilla bibendum augue mattis.
                
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" clas="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae leo pharetra, eleifend sem at, ornare tortor
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad" clas="img-fluid mb-4")
                    h2.mb-4 Los Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae leo pharetra, eleifend sem at, ornare tortor
                
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono seguridad" clas="img-fluid mb-4")
                    h2.mb-4 Buen Precio
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae leo pharetra, eleifend sem at, ornare tortor